 <footer class="fondoinicial text-white text-center text-lg-start " >
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">PROGNOSIS</h5>

          <p>
            Lideres en imagenes diagnosticas y resultados de 
            estudios de radiologica oral, intra o extra oral
          </p>

          <div class="mt-4">
            <!-- Instagram -->
            <a  href="https://www.instagram.com/prognosis_id/" target="blank" type="button" class="btn btn-floating  btn-lg">  <img src="../../assets/fotos/instagram.png" alt="instagram">   </a>
            <!-- Google + -->
            <a type="button" href="http://surl.li/nnmcp" target="blank" class="btn btn-floating  btn-lg">  <img src="../../assets/fotos/google.png" alt="facebook">  </a>
            <!-- Linkedin --> 
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <ul class="fa-ul info" >
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Medellin - Colombia</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">prognosiscitas@gmail.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Loma El Tesoro con Transversal Superior Carrera 25A # 1A Sur - 45 Consultorio: 1730 - 1731</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+57 312 7355207</span>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">APERTURA</h5>

          <table class="table text-center text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>LUN - VIE:</td>
                <td>8am - 6pm</td>
              </tr>
              <tr>
                <td> Sat:</td>
                <td>8am - 1pm</td>
              </tr>
              <tr>
                <td>festivos y domingos</td>
                <td>sin servicio</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="final text-center p-3">
      © 2023 Copyright:
      <a class="text-white">by mickeimon</a>
    </div>
    <!-- Copyright -->
  </footer>
  

<!-- End of .container -->