<nav class="navbar navbar-expand-lg fixed-top bg-primary p-2 text-dark bg-opacity-50">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
        <img src="../../assets/fotos/logo prognosis.jpeg" alt="Logo" width="240" height="64" class="d-inline-block align-middle">
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bolder" aria-current="page" href="#">ACERCA DE PROGNOSIS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bolder" aria-current="page" href="#">IMAGENES 2D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bolder" aria-current="page" href="#">TOMOGRAFIAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bolder" aria-current="page" href="#">VISUALIZADOR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled fw-bolder">AMIGOS PROGNOSIS</a>
        </li>
      </ul>
    </div>
  </div>
    
</nav>

<router-outlet></router-outlet>
