
<div class="row center">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                CARRITO
            </div>
            <div class="card-body border-light shadow-lg">
              
              <p><a href="#">Producto 1</a> <span class="price end">$15.000</span></p>
              <p><a href="#">Producto 2</a> <span class="price end">$5.000</span></p>
              <p><a href="#">Producto 3</a> <span class="price end">$8.000</span></p>
              <p><a href="#">Producto 4</a> <span class="price end">$2.000</span></p>
              <hr>
              <p>Total <span class="price" style="color:black"><b>$30.000</b></span></p>
              <input type="submit" value="Realizar Pago" class="btn">

            </div>
        </div>
    </div>
  </div>