
<div class="fondoinicial row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
      <div class="card">
        <img src="../../assets/fotos/PANORAMICA.jpeg" class="PANORAMICA" alt="...">
        <div class="card-body">
          <h5 class="card-title">PANORAMICAS</h5>
          <p class="card-text"> Utilizan una dosis muy pequeña de radiación ionizante para capturar una imagen de toda la boca. Por lo general, los hacen los dentistas y los cirujanos orales en la práctica diaria, y se pueden utilizar para planear el tratamiento</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/fotos/PERIAPICALES.jpeg" class="PERIAPICALES" alt="...">
        <div class="card-body">
          <h5 class="card-title">PERIAPICALES</h5>
          <p class="card-text">La radiografía periapical es una técnica exploratoria radiográfica intraoral. Su objetivo es ver los ápices dentales, la punta de las raíces, y la zona de alrededor de ellos. Gracias a ella se puede explorar de forma exhaustiva el diente y su alrededor. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/fotos/CEFALICA.jpeg" class="CEFALICA" alt="...">
        <div class="card-body">
          <h5 class="card-title">CEFALICA</h5>
          <p class="card-text">La radiografía cefalométrica es una técnica radiográfica especializada que se utiliza en odontología y ortodoncia para obtener una visión detallada de las estructuras óseas y dentales de la cabeza y la cara.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/fotos/FOTO EXTRAORALES.jpeg" class="FOTO INTRAORALES" alt="...">
        <div class="card-body">
          <h5 class="card-title">FOTO ODONTOLOGICAS</h5>
          <p class="card-text"> Las fotografías dentales aportan valor al diagnóstico y favorecen el correcto seguimiento de los casos clínicos. Además, suponen una herramienta muy eficaz, puesto que ayudan al dentista a documentar su labor y comunicarse tanto con el laboratorio dental como con el paciente</p>
        </div>
      </div>
    </div>
  </div>

